<html>
	<head> 
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<div id="map"></div>
		<style>
			#map { height: 770px; }
		</style>
	</head>
	<body>
		<script>
			var map = L.map('map').setView([40.4841667, -88.9936111], 7);
			var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png', {
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
});
			layer.addTo(map);
			
			/*var pointIcon = L.icon({
				iconUrl : '../icons/circle-stroked-18.png'
			})*/
			//var myIcon = L.divIcon({className: 'my-div-icon'});
			var c_data = {{ geodata|safe }} //JSON.parse({{ data|safe }});
			L.geoJson(c_data,{
				style: function(feature) {
					var fillColor = '#ffffb2';
					var count = feature.properties.receiptCounter2015;
						if (count >= 300) fillColor = "#bd0026";
						else if (count >= 100) fillColor = "#fd8d3c";
						else if (count >= 50) fillColor = '#fed976';
						else fillColor = '#ffffb2';
						return {
							color: '#999',
							weight: 1,
							fillColor: fillColor,
							fillOpacity: 0.6
							};
						},
						onEachFeature: function(feature, layer){
							layer.bindPopup("<b>" + feature.properties.name + "</b><br>" + feature.properties.address1 + " " + feature.properties.city + "<br>" + feature.properties.party + "<br>Receipt Counter = " + feature.properties.receiptCounter2015)
							}
						}).addTo(map);
			/*for(i = 0; i < c_data.length; i++)
			{
				//console.log(c_data[i].lat + " " + c_data[i].lon)
				//if(isNaN(c_data[i].lat) == false && isNaN(c_data[i].lon) == false)
				//{
				var marker = L.marker([parseFloat(c_data[i].lat), parseFloat(c_data[i].lon)]).addTo(map);
				marker.bindPopup("<b>" + c_data[i].name + "</b><br>" + c_data[i].address1 + " " + c_data[i].city + "<br>" + c_data[i].party)
				//}
				console.log(i);
			};*/
	
		</script>
	</body>
	
</html>
