<html>
	<head> 
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<div id="map"></div>
		<style>
			#map { height: 770px; }
		</style>
	</head>
	<body>
		<script>
			var map = L.map('map').setView([40.4841667, -88.9936111], 7);
			var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png', {
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
});
			layer.addTo(map);
		
			var c_data = {{ geodata|safe }} //JSON.parse({{ data|safe }});
			
			//Time sensitive data
			var rCounter = [];
			var rVolume = [];
			var eCounter = [];
			var eVolume = [];
			
			var coms = c_data.features;
			var numC = coms.length;
			var overlayMaps = [];
			for(i = 1994; i <= 2016; i++)
			{
				var rC = []
				for(j = 0; j < numC; j++)
				{
					var count = coms[j].properties.recCounter[i-1994];
					var fillColor = '#ffffb2';
					if (count >= 10) fillColor = "#e31a1c";
					else if (count >= 5) fillColor = "#fd8d3c";
					else if (count >= 1) fillColor = '#fecc5c';
					var markerStyle = {radius: 7, color: '#000', weight: 1, fillColor: fillColor, fillOpacity: 0.8};
					
					rC.push(L.circleMarker([coms[j].properties.lat, coms[j].properties.lon], markerStyle).bindPopup("<b>" + coms[j].properties.name + "</b><br>" + coms[j].properties.address1 + " " + coms[j].properties.city + "<br>" + coms[j].properties.party + "<br>Receipt Counter = " + coms[j].properties.recCounter[i-1994]));
				}
				
				var pointLayer = L.layerGroup(rC);
				rCounter.push(pointLayer);
				overlayMaps['Receipt Counter ' + i] = pointLayer;
			}
			
			L.control.layers(overlayMaps).addTo(map);
			
			var legend = L.control({position : 'bottomright'});
			legend.onAdd = function (map) {
				
				var div = L.DomUtil.create('div', 'info legend'),
					grades = [0, 1, 5, 10],
					colors = ['#ffffb2', '#fecc5c', '#fd8d3c', '#e31a1c']
					labels = [];
					
				for(var i = 0; i < grades.length; i++)
				{
					div.innerHTML += '<i style="background:' + getColor(grades[i]) + '"></i> '
					 + (grades[i] ? grades[i] + '<br>' : '+');
				}
				
				return div;
			}
			
			
			/*
			L.geoJson(c_data,{
				pointToLayer: function(feature) {
					var fillColor = '#ffffb2';
					var count = feature.properties.receiptCounter2015;
					if (count >= 100) fillColor = "#e31a1c";
					else if (count >= 50) fillColor = "#fd8d3c";
					else if (count >= 15) fillColor = '#fecc5c';
					var markerStyle = {radius: 7, color: '#000', weight: 1, fillColor: fillColor, fillOpacity: 0.8};
					return L.circleMarker([feature.properties.lat, feature.properties.lon], markerStyle);
					},
				onEachFeature: function(feature, layer){
					layer.bindPopup("<b>" + feature.properties.name + "</b><br>" + feature.properties.address1 + " " + feature.properties.city + "<br>" + feature.properties.party + "<br>Receipt Counter = " + feature.properties.receiptCounter2015)
					}
					}).addTo(map);*/
					
		
		</script>
	</body>
	
</html>
