<html>
	<head> 
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<script src='{{ turl }}/leaflet.timedimension.js'></script>
		<script src='{{ turl }}/leaflet.timedimension.control.js'></script>
		<script src='{{ durl }}/iso8601.js'></script>
		<script src='{{ durl }}/iso8601.min.js'></script>
		<!--<script src='{{ turl }}/leaflet.timedimension.layer.geojson.js'></script>-->
		<script src='{{ turl }}/leaflet.timedimension.layer.js'></script>
		<script src='{{ turl }}/leaflet.timedimension.layer.wms.js'></script>
		<script src='{{ turl }}/leaflet.timedimension.player.js'></script>
		<script src='{{ turl }}/leaflet.timedimension.util.js'></script>
		<div id="map"></div>
		<style>
			#map { height: 770px; }
		</style>
	</head>
	<body>
		<script>
			var map = L.map('map', {
				zoom: 7,
				center: [40.4841667, -88.9936111],
				timeDimension: true, 
				timeDimensionOptions: {
					timeInterval: "1994-01-01T00:00:00/2015-12-31T23:59:59",
					period: "P1Y"
				}, 
				timeDimensionControl: true
				});
			var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png', {
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
});
			layer.addTo(map);
		
			var c_data = {{ geodata|safe }} //JSON.parse({{ data|safe }});
			
			//Time sensitive data
			var rCounter = [];
			var rVolume = [];
			var eCounter = [];
			var eVolume = [];
			
			var coms = c_data.features;
			var numC = coms.length;
			var overlayMaps = [];
			
			//So far only Receipt Counter
			for(i = 1994; i <= 2016; i++)
			{
				var rC = []
				for(j = 0; j < numC; j++)
				{
					var count = coms[j].properties.recCounter[i-1994];
					var fillColor = '#feebe2';
					if (count >= 80) fillColor = "#ae017e";
					else if (count >= 40) fillColor = "#f768a1";
					else if (count >= 10) fillColor = '#fbb4b9';
					var markerStyle = {radius: 7, color: '#000', weight: 1, fillColor: fillColor, fillOpacity: 0.8};
					if( i >= parseInt(coms[j].properties.createYr))
					{
						rC.push(L.circleMarker([coms[j].properties.lat, coms[j].properties.lon], markerStyle).bindPopup("<b>" + coms[j].properties.name + "</b><br>" + coms[j].properties.address1 + " " + coms[j].properties.city + "<br>" + coms[j].properties.party + "<br>Receipt Counter = " + coms[j].properties.recCounter[i-1994]));
					}
				}
				
				var pointLayer = L.layerGroup(rC);
				rCounter.push(pointLayer);
				overlayMaps['Receipt Counter ' + i] = pointLayer;
			}
			
			//Political Party Map
			
			var dem = [];
			var rep = [];
			var ind = [];
			var noParty = [];
			var par = 'O';
			for(j = 0; j < numC; j++)
			{
				var fillColor = '#ffffb2';
				if(coms[j].properties.party === 'Republican')
				{
					fillColor = '#e91d0e';
					par = 'R';
				}
				else if(coms[j].properties.party === 'Democratic')
				{
					fillColor = '#232066';
					par = 'D';
				}
				else if(coms[j].properties.party === 'Independent' || coms[j].properties.party === 'Nonpartisan')
				{
					fillColor = '#488214';
					par = 'I';
				}
				var markerStyle = {radius: 7, color: '#000', weight: 1, fillColor: fillColor, fillOpacity: 0.8};
				var pMarker = L.circleMarker([coms[j].properties.lat, coms[j].properties.lon], markerStyle).bindPopup("<b>" + coms[j].properties.name + "</b><br>" + coms[j].properties.address1 + " " + coms[j].properties.city + "<br>" + coms[j].properties.party);
				if(!coms[j].properties.party)
				{
					noParty.push(pMarker);
				}
				else if(par == 'R')
				{
					rep.push(pMarker);
				}
				else if(par == 'D')
				{
					dem.push(pMarker);
				}
				else if(par == 'I')
				{
					ind.push(pMarker);
				}
			}
			
			var polmaps = [];
			polmaps['Democrats'] = L.layerGroup(dem);
			polmaps['Republicans'] = L.layerGroup(rep);
			polmaps['Independents'] = L.layerGroup(ind);
			polmaps['No Party'] = L.layerGroup(noParty);
			
			
			//List of legends
			var yearLegend = L.control({position: 'topleft'})
				yearLegend.onAdd = function(map){
					this._div = L.DomUtil.create('div', 'info legend');
					//this.update();
					return this._div;
					};
			
			
			L.control.layers(overlayMaps, polmaps).addTo(map);
			var layg = L.layerGroup().addTo(map);
			yearLegend.addTo(map);
			var k = 0;
			var yr = 1994;
			
			/*yearLegend.update = function(props) {
				this.div.innerHTML = '<font size = "5">' + (yr+k).toString() + '</font>'
			}*/
			
			function next() {
				layg.clearLayers().addLayer(rCounter[k]);
				yearLegend.getContainer().innerHTML = '<font size = "5">' + (yr+k).toString() + '</font>';
			
				if(++k >= rCounter.length)
				{
					k = 0;
				}
	
			}
			next();
			setInterval(next, 1000*3);
			
			
			/*var allLayers = L.layerGroup(overlayMaps[0]);
			for(i = 1; i < overlayMaps.length; i++)
			{
				allLayers.addLayer(overlayMaps[i]);
			}
			for(i = 0; i < polmaps.length; i++)
			{
				allLayers.addLayer(polmaps[i]);
			}
			
			var timeLayer = L.timeDimension.layer();
			timeLayer.addTo(map);
			var timeControl = L.control.timeDimension(timeLayer).addTo(map);*/
			
			
			
			
			
			
			/*var legend = L.control({position : 'bottomright'});
			legend.onAdd = function (map) {
				
				var div = L.DomUtil.create('div', 'info legend'),
					grades = [0, 1, 5, 10],
					colors = ['#ffffb2', '#fecc5c', '#fd8d3c', '#e31a1c']
					labels = [];
					
				for(var i = 0; i < grades.length; i++)
				{
					div.innerHTML += '<i style="background:' + getColor(grades[i]) + '"></i> '
					 + (grades[i] ? grades[i] + '<br>' : '+');
				}
				
				return div;
			}*/		
		</script>
	</body>
	
</html>
